.card-2 {
  background-color: rgba(68, 68, 68, 0.51); /* Converted to rgba for better transparency control */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  min-height: 70vh;
  border-radius: 5%;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin: 100px; 
  color: white; 
}

.card-2 .text {
  width: 55%; 
  margin-left: 20px; 
  text-align: right;
}

.card-2 img {
  width: 25%; 
  max-width: 150px; 
  border-radius: 10%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.pic-dina {
  border-radius: 10%; 
}

/* Additional media query for responsiveness */
@media (max-width: 1024px) {
  .card-2 {
    flex-direction: column;
    width: 90%;
    min-height: auto;
    padding: 20px;
  }

  .card-2 img {
    width: 50%;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .card-2 .text {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
