.card-2{
  background-color: #44444482;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  min-height: 80vh;
}

.card-2 .text{
  width: 60%;
}
.card-2 img{
  width: 20%;
}
  